{% extends "core/base.html" %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers%}
<h1>Juan perez</h1>
<span class="subheading">Ingeniero Industrial</span>
{% endblock %}

{% block content %}
    <p>home</p>
{% endblock %}
